<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="lowerProcessor" class="preprocessor.PreProcessorToLowerImpl"/>
    <bean id="upperProcessor" class="preprocessor.PreProcessorToUpperImpl"/>

    <bean id="lowerStandardRenderer" class="renderer.RendererStandardImpl">
        <constructor-arg ref="lowerProcessor"/>
    </bean>

    <bean id="upperStandardRenderer" class="renderer.RendererStandardImpl">
        <constructor-arg ref="upperProcessor"/>
    </bean>

    <bean id="lowerErrRenderer" class="renderer.RendererErrImpl">
        <constructor-arg ref="lowerProcessor"/>
    </bean>

    <bean id="upperErrRenderer" class="renderer.RendererErrImpl">
        <constructor-arg ref="upperProcessor"/>
    </bean>

    <bean id="printerWithDateAndUpperStandardRenderer" class="printer.PrinterWithDateTimeImpl">
        <constructor-arg ref="upperStandardRenderer"/>
    </bean>

    <bean id="printerWithDateAndUpperErrRenderer" class="printer.PrinterWithDateTimeImpl">
        <constructor-arg ref="upperErrRenderer"/>
    </bean>

    <bean id="printerWithDateAndLowerStandardRenderer" class="printer.PrinterWithDateTimeImpl">
        <constructor-arg ref="lowerStandardRenderer"/>
    </bean>

    <bean id="printerWithDateAndLowerErrRenderer" class="printer.PrinterWithDateTimeImpl">
        <constructor-arg ref="lowerErrRenderer"/>
    </bean>

    <bean id="printerWithPrefixAndUpperStandardRenderer" class="printer.PrinterWithPrefixImpl">
        <constructor-arg ref="upperStandardRenderer"/>
    </bean>

    <bean id="printerWithPrefixAndLowerStandardRenderer" class="printer.PrinterWithPrefixImpl">
        <constructor-arg ref="lowerStandardRenderer"/>
    </bean>

    <bean id="printerWithPrefixAndUpperErrRenderer" class="printer.PrinterWithPrefixImpl">
        <constructor-arg ref="upperErrRenderer"/>
    </bean>

    <bean id="printerWithPrefixAndLowerErrRenderer" class="printer.PrinterWithPrefixImpl">
        <constructor-arg ref="lowerErrRenderer"/>
    </bean>

</beans>